validator-api/src/main/xsd/vefa-validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://difi.no/xsd/vefa/validator/1.0" xmlns="http://difi.no/xsd/vefa/validator/1.0">

    <xs:element name="test">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="assert" type="assertType"/>
                <xs:any processContents="lax"/>
            </xs:sequence>
            <xs:attribute name="configuration" type="xs:string"/>
            <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="testSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="assert" type="assertType" minOccurs="0"/>
                <xs:element ref="test" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="configuration" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="assertType">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="scope" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="fatal" type="assertElementType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="error" type="assertElementType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="warning" type="assertElementType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="success" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="assertElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="number" type="xs:int"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="artifacts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="artifact" type="artifactType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="timestamp" type="xs:long" default="0"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="artifactType">
        <xs:sequence>
            <xs:element name="dependency" type="dependencyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="filename" type="xs:string"/>
        <xs:attribute name="timestamp" type="xs:long" default="0"/>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>

    <xs:element name="buildConfigurations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="package" type="packageType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="dependency" type="dependencyType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="testfolder" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="configuration" type="configurationType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="include" type="fileType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="capabilities" type="xs:string" use="optional"/>
            <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="configurations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="package" type="packageType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="dependency" type="dependencyType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="configuration" type="configurationType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="timestamp" type="xs:long"/>
            <xs:attribute name="capabilities" type="xs:string" use="optional"/>
            <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="configurationType">
        <xs:sequence>
            <xs:element name="identifier" type="identifierType" minOccurs="1"/>
            <xs:element name="title" type="xs:string" minOccurs="1"/>
            <xs:element name="profileId" type="xs:string" minOccurs="0"/>
            <xs:element name="customizationId" type="xs:string" minOccurs="0"/>
            <xs:element name="standardId" type="xs:string" minOccurs="0"/>
            <xs:element name="declaration" type="declarationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="inherit" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="stylesheet" type="stylesheetType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="file" type="fileType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="trigger" type="triggerType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="rule" type="ruleType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="message" type="messageType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="xs:long" fixed="0"/>
        <xs:attribute name="build" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="identifierType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="alias" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="packageType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="url" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="path" type="xs:string"/>
        <xs:attribute name="source" type="xs:string"/>
        <xs:attribute name="configuration" type="xs:string"/>
        <xs:attribute name="build" type="xs:string"/>
        <xs:attribute name="infoUrl" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="triggerType">
        <xs:attribute name="identifier" type="xs:string"/>
        <xs:attribute name="configuration" type="xs:string"/>
        <xs:attribute name="build" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ruleType">
        <xs:attribute name="identifier" type="xs:string"/>
        <xs:attribute name="action" type="ruleActionType"/>
    </xs:complexType>

    <xs:complexType name="declarationType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:attribute name="flag" type="flagType"/>

    <xs:complexType name="messageType">
        <xs:attribute name="identifier" type="xs:string"/>
        <xs:attribute name="flag" type="flagType"/>
    </xs:complexType>

    <xs:complexType name="stylesheetType">
        <xs:sequence>
            <xs:element name="setting" type="settingType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="identifier" type="xs:string"/>
        <xs:attribute name="source" type="xs:string"/>
        <xs:attribute name="path" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="settingType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="defaultValue" type="xs:string" default=""/>
    </xs:complexType>

    <xs:element name="report">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="filename" type="xs:string" minOccurs="0"/>
                <xs:element name="title" type="xs:string" minOccurs="0"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="section" type="sectionType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="report" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="flag" type="flagType"/>
            <xs:attribute name="runtime" type="xs:string"/>
            <xs:attribute name="configuration" type="xs:string"/>
            <xs:attribute name="build" type="xs:string"/>
            <xs:attribute name="uuid" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="sectionType">
        <xs:sequence>
            <xs:element name="assertion" type="assertionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="flag" type="flagType"/>
        <xs:attribute name="runtime" type="xs:string"/>
        <xs:attribute name="configuration" type="xs:string"/>
        <xs:attribute name="build" type="xs:string"/>
        <xs:attribute name="infoUrl" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="assertionType">
        <xs:sequence>
            <xs:element name="text" type="xs:string"/>
            <xs:element name="textFriendly" type="xs:string"/>
            <xs:element name="location" type="xs:string"/>
            <xs:element name="locationFriendly" type="xs:string"/>
            <xs:element name="test" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:string"/>
        <xs:attribute name="flag" type="flagType"/>
        <xs:attribute name="infoUrl" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dependencyType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="flagType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="success"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="ok"/>
            <xs:enumeration value="expected"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="future_error"/>
            <xs:enumeration value="error"/>
            <xs:enumeration value="fatal"/>
            <xs:enumeration value="unknown"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ruleActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="suppress"/>
            <xs:enumeration value="setWarning"/>
            <xs:enumeration value="setError"/>
            <xs:enumeration value="setFutureError"/>
            <xs:enumeration value="setFatal"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>